body {
  background-color: rgb(15, 15, 15);
  color: white;
  margin-left: 50px;
  margin-top: 50px;
}

li {
  margin-bottom: 15px;
}

a {
  color: white;
}

a:visited {
  color: rgb(214, 170, 170);
}